<%= form_with(model: @property, local: true) do |form| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, value: '物件名'%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rent, value: '賃料'%>
    <%= form.text_field :rent %>
  </div>

  <div class="field">
    <%= form.label :address, value: '住所'%>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :age, value: '築年数'%>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :remarks, value: '備考'%>
    <%= form.text_area :remarks %>
  </div>

  <%= form.fields_for :stations, local: true do |f| %>
  <% num = f.index + 1 %>
  <div>
    <% if @stations.size == num %>
      最寄り駅を追加
    <% else %>
      最寄り駅<%= num %>
    <% end %><br>
    <%= f.label :rail_name, value: '路線名'%>
    <%= f.text_field :rail_name%>
    <%= f.label :name, value: '駅名'%>
    <%= f.text_field :name %>
    <%= f.label :minutes_on_foo, value: '徒歩分数'%>
    <%= f.text_field :minutes_on_foo %>
    <p><%= "-"*20 %></p>
  </div>
  <% end %>
  <div class="actions">
    <%= form.submit '更新する'%>
  </div>
<% end %>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>
